.admin-page-admin-page {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  position: relative;
}

.admin-page-content {
  align-items: center;
  align-self: stretch;
  background-color: #d1eaec;
  display: flex;
  flex-direction: column;
  height: flex;
  padding: 20px 24px;
  position: relative;
  width: flex;
}

.admin-page-logo {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 31px;
}

.admin-page-logout {
  font-size: 23px;
  font-weight: 400;
  left: 304px;
  position: absolute;
  text-decoration: underline;
  top: 69px;
  white-space: nowrap;
}

.admin-page-b {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 60px 0px 30px;
  position: relative;
}

.admin-page-text-wrapper {
  align-self: stretch;
  font-size: 80px;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
}

.admin-page-b1-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 40px 0px 0px;
  position: relative;
  width: fit-content;
}

.admin-page-create-a-prompt {
  font-size: 45px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  width: 350px;
}

.admin-page-div {
  color: #686868;
  font-size: 45px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  width: 350px;
}

.admin-page-div-bolded {
  font-size: 45px;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  width: 350px;
}

.admin-page-text-wrapper-2 {
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 350px;
}
