.prompt-page-prompt-page {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  position: relative;
}

.prompt-page-content {
  align-items: center;
  align-self: stretch;
  background-color: #ece8d1;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  position: relative;
}

.prompt-page-logo {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 31px;
}

.prompt-page-you {
  font-size: 23px;
  font-weight: 400;
  left: 325px;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 69px;
  white-space: nowrap;
}

.prompt-page-b {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 0px;
  position: relative;
}

.prompt-page-apr {
  align-self: stretch;
  font-size: 55px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 58.5px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.prompt-page-apr-two {
  align-self: stretch;
  font-size: 35px;
  font-weight: 400;
  line-height: 58.5px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 1.3rem;
}

.prompt-page-div {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 30px;
  position: relative;
}

.prompt-page-sleep-how-much-did-you-get-last-night-what-is-one-way-that-helps-you-get-to-sleep {
  align-self: stretch;
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  position: relative;
}

.prompt-page-text-wrapper {
  font-weight: 500;
}

.small-text {
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 500;
}

.prompt-page-span {
  font-size: 99px;
  font-weight: 500;
  line-height: 50px;
}

.prompt-page-text-wrapper-2 {
  font-size: 45px;
  line-height: 38.5px;
}

.prompt-page-b-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 30px;
  position: relative;
}

.prompt-page-p {
  align-self: stretch;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  position: relative;
}

.prompt-page-here-s-what-people-think-tap-on-them-to-see-the-details {
  align-self: stretch;
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
}

.prompt-page-text-wrapper-3 {
  line-height: 58.5px;
}

.prompt-page-text-wrapper-4 {
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
}

.prompt-page-don-t-eat-before-bed-just-finished-a-sandwich {
  align-self: stretch;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  position: relative;
}

.prompt-page-face {
  height: 50.55px;
  min-width: 189.68px;
  position: relative;
}

.prompt-page-i-usually-listen-to-podcasts-recommend-this-it-is-one-of-the-best-recording-ever-it-tells-you-how-your-muscle-operate-under-extreme-temperature-where-the-tissues-make-a-wormhole-to-the-other-side-of-the-universe-and-listen-to-spotify-while-it-s-ready-for-a-role-play-game {
  align-self: stretch;
  font-size: 30px;
  font-weight: 300;
  line-height: 39px;
  position: relative;
}

.prompt-page-group {
  border: 2px solid;
  border-color: #282828;
  height: 198px;
  min-width: 320px;
  position: relative;
}

.prompt-page-img {
  height: 45px;
  left: 135px;
  position: absolute;
  top: 74px;
  width: 45px;
}

.prompt-page-b-cat {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 170px;
  position: relative;
}

.cat-image {
  background-image: "unset";
  background-size: "unset";
  height: "200.5px";
  min-width: "197.98px";
  position: "relative";
  transition: "all 0.2s ease";
  width: 200px;
  margin-top: 4rem;
}

.divider-small {
  min-width: 390px;
}

.negative-margin {
  margin-left: -1.5rem;
}

.log-in-button {
  font-size: 23px;
  font-weight: 400;
  transform: translate(7.4rem, 2.95rem);
}

.post-page-no-post {
  align-self: stretch;
  font-size: 45px;
  font-weight: 400;
  position: relative;
  margin-top: 10rem;
  margin-bottom: 9rem;
}
