.signup-signup {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  position: relative;
}

.signup-content {
  align-items: center;
  align-self: stretch;
  background-color: #ece8d1;
  display: flex;
  flex-direction: column;
  gap: 66px;
  height: 950px;
  padding: 20px 24px;
  position: relative;
}

.signup-logo {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 31px;
}

.signup-log-in {
  font-size: 23px;
  font-weight: 400;
  left: 316px;
  position: absolute;
  text-decoration: underline;
  top: 69px;
  white-space: nowrap;
}

.signup-tag {
  align-self: stretch;
  height: 110px;
  min-width: 342px;
  position: relative;
}

.signup-b {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 90px;
  position: relative;
  margin-top: 5rem;
}

.signup-text-wrapper {
  align-self: stretch;
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  white-space: nowrap;
}

.signup-b-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 66px;
  position: relative;
}

.signup-div {
  align-self: stretch;
  color: #686868;
  font-size: 45px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
}

.signup-text-wrapper-2 {
  align-self: stretch;
  color: #686868;
  font-size: 35px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
}

.signup-text-wrapper-3 {
  align-self: stretch;
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
  margin-top: -0.5rem;
}

.signup-text-wrapper-4 {
  font-size: 20px;
  font-weight: 500;
}

button:hover {
  background: none;
  background-color: none;
  border: none;
  color: none;
}

.password-format-announcement {
  color: #282828;
  line-height: 1.3;
  font-size: xx-small;
  margin-top: -3rem;
  margin-bottom: -3rem;
}

.google-login {
  margin-top: -4rem;
  margin-bottom: -4rem;
}
