.admin-page-admin-page {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1672px;
  min-width: 390px;
  position: relative;
}

.admin-page-content {
  align-items: center;
  align-self: stretch;
  background-color: #d1eaec;
  display: flex;
  flex-direction: column;
  height: 1672px;
  padding: 20px 24px;
  position: relative;
}

.admin-page-logo {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 31px;
}

.admin-page-logout {
  font-size: 23px;
  font-weight: 400;
  left: 304px;
  position: absolute;
  text-decoration: underline;
  top: 69px;
  white-space: nowrap;
}

.admin-page-b {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 140px 0px 30px;
  position: relative;
}

.admin-page-text-wrapper {
  align-self: stretch;
  font-size: 80px;
  font-weight: 500;
  position: relative;
  margin-bottom: 2rem;
}

.admin-page-text-small {
  align-self: stretch;
  font-size: 30px;
  font-weight: 400;
}

.admin-page-b-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 0px 30px;
  position: relative;
}

.admin-page-report-text-div {
  align-self: stretch;
  color: #a62f2f;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
}

.admin-page-don-t-eat-before-bed-just-finished-a-sandwich {
  font-size: 45px;
  font-weight: 400;
  position: relative;
  width: 349px;
}

.admin-page-b-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 0px 30px;
  position: relative;
}

.admin-page-take-a-look-at-this-video {
  align-self: stretch;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
  position: relative;
}

.admin-page-group {
  border: 2px solid;
  border-color: #282828;
  height: 198px;
  min-width: 320px;
  position: relative;
}

.admin-page-img {
  height: 45px;
  left: 135px;
  position: absolute;
  top: 74px;
  width: 45px;
}

.post_text {
  font-weight: 500;
  font-size: 50px;
  color: #282828;
  margin-bottom: 0.5rem;
}
