.post-container {
  width: 365px;
  padding: 15px 25px;
  /* background-color: green; */
  /* background: #ffffff; */
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); */
  border-radius: 8px;
  margin: 1rem 0;
}

.top-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1.5px solid #6f4483;
}

.profile-pic img {
  width: 24px;
  height: auto;
}

.report_button {
  display: flex;
}

.report_button button {
  margin-right: 7px;
}

.date_posted {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #4f4f4f;
}

.middle-section {
  width: 100%;
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 130%;
  color: #282828;
}

.trash-icon {
  color: #282828;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.button-container {
  /* width: 50%; */
  display: flex;
  align-items: center;
}

.button-container p {
  margin-left: 5px;
}

.button-container button {
  margin-right: 5px;
}

.expanded-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: green;
}
