.profile-page-text-wrapper-3,
.profile-page-text-wrapper-3 {
  color: #282828;
  margin-top: 60px;
}

.bottom-message {
  font-size: 23px;
  font-weight: 400;
  margin-top: 1rem;
}

.password-input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 30px;
}
