.admin-prompt {
  background: #d1ebec;
}
.selection-selection-wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.selection-selection {
  height: flex;
  width: flex;
}

.selection-content {
  align-items: center;
  background-color: #d1eaec;
  display: flex;
  flex-direction: column;
  height: 1229px;
  padding: 20px 24px;
  position: relative;
  width: 390px;
}

.selection-logo {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 69px;
  width: 31px;
}

.selection-logout {
  font-size: 23px;
  font-weight: 400;
  left: 304px;
  position: absolute;
  text-decoration: underline;
  top: 69px;
  white-space: nowrap;
}

.selection-b {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 60px 0px 30px;
  position: relative;
}

.selection-text-wrapper {
  align-self: stretch;
  font-size: 80px;
  font-weight: 500;
  position: relative;
}

.selection-b1-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 30px 0px 0px;
  position: relative;
  width: fit-content;
}

.back-button {
  align-self: stretch;
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  white-space: nowrap;
}

.datePicker {
  display: flex;
  font-size: 30px;
  font-weight: 500;
}

.selection-apr {
  align-self: stretch;
  font-size: 45px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
}

.selection-sleep-how-much-sleep-did-you-get-last-night-what-is-one-way-that-helps-you-get-to-sleep {
  font-size: 75px;
  font-weight: 400;
  height: 552px;
  line-height: 75px;
  position: relative;
  width: 350px;
}

.selection-span {
  font-weight: 500;
}

.selection-text-wrapper-2 {
  font-size: 45px;
}

.selection-div {
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 350px;
}
