* {
  box-sizing: border-box;
}

.chakra-ui-light {
  background-color: #ece8d1;
}

body,
#root {
  /* margin: 0 auto; */
  background-color: #ece8d1;
  font-family: "Oswald", Helvetica;
  width: 390px;
  height: 844px;
}

h1,
h2,
h3,
h4,
p,
li {
  color: #282828;
  line-height: 1.3;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

p,
li {
  font-size: 23px;
}

.body-2 {
  font-size: 18px;
  color: #686868;
}

nav {
  background-color: #ece8d1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
}

nav input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #e5e8ea;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  font-size: 1.2rem;
  float: right;
  margin-right: 10%;
}

nav li {
  display: inline;
  padding: 1.5vw;
}

nav li a {
  text-decoration: none;
}

nav li a:hover {
  color: #8c8c8c;
  transition: 0.3s ease-in-out;
}

/* button:hover {
  background: none;
  background-color: none;
  border: none;
  color: none;
} */

/* .post:first-child {
  margin-top: 150px;
}

.post {
  background-color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: 8px;
  margin: 40px 25% auto 25%;
}

.post-text {
  margin: 30px 40px 30px 40px;
}

.post-text .body-2 {
  margin-top: -10px;
} */
