.report-report {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  position: relative;
  background-color: #ece8d1;
}

.report-content {
  align-items: center;
  align-self: stretch;
  background-color: #ece8d1;
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 950px;
  padding: 20px 24px;
  position: relative;
}

.report-b {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px;
  position: relative;
}

.report-frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2rem;
}

.other-input {
  /* border: 2px solid black; */
  outline: none;
  color: #686868;
  font-size: 45px;
  font-weight: 400;
  background: none;
  border: none;
  width: 80%;
  margin-bottom: 2.5rem;
}

.report-group {
  height: 66px;
  min-width: 66px;
  position: relative;
  transform: rotate(-45deg);
}

.report-overlap-group {
  height: 66px;
  position: relative;
  width: 66px;
}

.report-rectangle {
  background-color: #282828;
  height: 8px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 66px;
}

.report-rectangle-552 {
  background-color: #282828;
  height: 8px;
  left: 0;
  position: absolute;
  top: 29px;
  transform: rotate(-90deg);
  width: 66px;
}

.report-text-wrapper {
  align-self: stretch;
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  white-space: nowrap;
}

.report-b-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: -4px;
  margin-right: -4px;
  padding: 40px 0px 0px;
  position: relative;
  width: fit-content;
}

.report-div-bold {
  font-size: 45px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  width: 350px;
}

.report-div {
  color: #686868;
  font-size: 45px;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  width: 350px;
}

.report-text-wrapper {
  align-self: stretch;
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  width: 342px;
}

.report-text-wrapper-2 {
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 350px;
}
