.upload-attachment {
  /* border: 2px solid red; */
  margin: 3rem 0;
}

.upload-attachment input {
  margin: 1rem 0;
}

.upload-text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #282828;
  text-decoration: underline;
}
