.content {
  align-items: center;
  background-color: #ece8d1;
  display: flex;
  flex-direction: column;
  height: 2200px;
  padding: 20px;
  position: relative;
  width: 390px;
}

.log-in {
  font-size: 23px;
  font-weight: 400;
  left: 290px;
  position: absolute;
  text-decoration: underline;
  top: 66px;
  white-space: nowrap;
}

.big {
  font-weight: 500;
  font-size: 90px;
  line-height: 100%;
  color: #282828;
}

.small {
  font-weight: 400;
  font-size: 45px;
  line-height: 130%;
  color: #282828;
}

.dash {
  font-size: 60px;
  letter-spacing: 0.2em;
  color: #282828;
}

.s1 {
  padding: 80px 0px 0px;
}

.s2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.s3 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  position: relative;
}

.wheel {
  height: 75px;
  left: 205px;
  position: absolute;
  top: 250px;
  width: 75px;
}

.cat {
  height: 200px;
  left: 20px;
  position: absolute;
  top: 240px;
  width: 198px;
}

.about-us {
  margin-top: 12rem;
}

.about-us-line {
  font-weight: 450;
  font-size: 25px;
  line-height: 130%;
  color: #282828;
}
